body {
  background-color: #4aa3df;
  font-family: 'Helvetica';
  color: white;
}

#clockdiv {
  width: 80%;
  margin: 0 auto;
  margin-top: 15%;
  text-align: center;
}

.big-text {
  font-size: 4em;
  font-weight: bold;
  margin-bottom: 30px;
}

.small-text {
  font-size: 2em;
}